.header__top{
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* box-shadow: 5px 5px 10px gray; */
    color: black;

}

.header__top ul{
    display: flex;
    justify-content: space-between;
}
.header__top ul li{
    display: flex;
    /* margin-left: 20px; */
    margin-right: 50px;
    justify-content: space-between;
    text-decoration: none;
}
.header__top ul li link{
    color: black;
}